.form-grid {
  display: grid;
  grid-template-columns: 1fr 140px;
  grid-template-rows: 1fr 1fr;
  max-width: 550px;
  width: 100%;
  gap: 12px 20px;
  margin-top: 29px;
}

@media screen and (max-width: 600px) {
  .form-grid {
    grid-template-columns: unset;
    grid-template-rows: unset;
    grid-template-areas: 
    "form-input"
    "form-warning"
    "form-button"
    ;
  }
  .form-input {
  grid-area: form-input;
  }
  .form-button {
    grid-area: form-button;
  }
  .form-warning {
    grid-area: form-warning;
  }
}