@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import url("./calendar.css");

:root {
    --primary: #7D57FD;
    --secondary: #111928;
    --swiper-pagination-color: white;
}

* {
    font-family: "Inter";
}

body {
    color: var(--secondary);
}

@media screen and (max-width: 640px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Apply to your container or body */
* {
  scrollbar-width: thin; /* "thin" or "auto" depending on your preference */
  scrollbar-color: var(--primary) transparent; /* Set the scrollbar color */
}

/* Set the color of the scrollbar track */
*::-webkit-scrollbar {
  width: 8px; /* Set the desired scrollbar width */
}

* {
  scrollbar-gutter: stable;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}


.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}