@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import url("./calendar.css");

:root {
    --primary: #7D57FD;
    --secondary: #111928;
    --swiper-pagination-color: white;
}

* {
    font-family: "Inter";
}

body {
    color: var(--secondary);
}

@media screen and (max-width: 640px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Apply to your container or body */
* {
  scrollbar-width: thin; /* "thin" or "auto" depending on your preference */
  scrollbar-color: var(--primary) transparent; /* Set the scrollbar color */
}

/* Set the color of the scrollbar track */
*::-webkit-scrollbar {
  width: 8px; /* Set the desired scrollbar width */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}


.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.balance-bg {
  background: linear-gradient(86.88deg, rgba(100, 93, 255, 0.05) 1.98%, rgba(100, 93, 255, 0.2) 100%);
}

.view-anim {
  opacity: 0;
  animation-name: view-animation;
  animation-delay: calc(var(--delay, 0) * 0.15s);
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}

@keyframes view-animation {
  from {
    translate: 0 20px;
    opacity: 0;
  }
  to {
    translate: 0 0px;
    opacity: 1;
  }
}

.vertical-dash {
  background: linear-gradient(180deg, #E5E7EB 50%, transparent 50%);
  background-size: 2px 13px;
  background-repeat: repeat-y;
}

.horizontal-dash {
  height: 2px;
  background: linear-gradient(90deg, #E5E7EB 50%, transparent 50%);
  background-size: 13px 2px;
  background-repeat: repeat-x;
}